body{
  margin: 0;
  background-color: #c0baba;
}
.header{
  background-color: #3d4c41;
  color: #e6e6e6;
  padding: 30px;
  margin-bottom: 100px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  background-color: green;
  --vwidth:30vw;
  width:var(--vwidth);
  height: var(--vwidth);
  margin: auto;
  background-color: rgb(3, 3, 3);
}
.darken{
  background-color: rgb(128, 25, 114);
}
.slider{
  margin-bottom: 30px;
}
.btn-div{
  margin: auto;
  width: 100%;
  text-align: center;
}
.reset-btn{
  background-color: #3d4c41;
  color: aliceblue;
  margin-top: 50px;
  padding: 10px 15px;
  font-size: large;
}
.user-details{
  text-align: center;
}